<%= link_to 'Popular websites',  popular_websites_websites_path, class: 'btn btn-primary mb-3 mt-3' %><br>
<% if flash[:short]%>

  Your link - <%= link_to flash[:short], flash[:short], class: 'btn btn-success mb-3 '%><br>
<% end%>
<% if flash[:errors]%>
  <%= flash[:errors].join(',') %><br>
<% end%>

<%= form_with model: Website.new do |form| %>
  <div class="form-group">
    <div class="row">
        <%= form.label :url, 'Website URL'%>
      <div class="col-8">
        <%= form.text_field :url, class: 'form-control' %>
      </div>
      <div class="col-4">
        <%= form.submit 'Add website', class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
<% end %>
